<div class="aecid-intranet-lightbox-content-actions">
  <ul>
    <li><a href="/node/{{ data['nid'] }}/edit?destination=/intranet/actor_espanol/listado"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a></li>
    <li><a class="aecid-intranet-codigocad-delete" href="/node/{{ data['nid'] }}/delete?destination=/intranet/actor_espanol/listado"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a></li>
  </ul>
</div>
<div class="aecid-intranet-lightbox-content-header">
  <ul class="aecid-intranet-lightbox-tabs-list">
    <li class="aecid-intranet-lightbox-tab-button aecid-intranet-lightbox-active-tab" tabindex="1">Información Básica</li>
    <li class="aecid-intranet-lightbox-tab-button" tabindex="2">Datos en Perú</li>
    <li class="aecid-intranet-lightbox-tab-button" tabindex="3">Datos en España</li>
  </ul>
</div>
<div class="aecid-intranet-lightbox-content-body">
  <div class="aecid-intranet-lightbox-tabs-pane">
    <div class="aecid-intranet-lightbox-group-tab">
    </div>
    <div class="aecid-intranet-lightbox-group-tab">
    </div>
    <div class="aecid-intranet-lightbox-group-tab">
    </div>
  </div>
</div>
