<div class="aecid-actor-wrapper">
  <ul class="aecid-actor-general-actions-menu">
    <li><a href="/node/add/actor_internacional?destination=/intranet/actor_internacional/listado"><i class="fa fa-file-text-o" aria-hidden="true"></i> Nuevo Actor Internacional</a></li>
  </ul>
  {# INTERNACIONALES #}
  {% if data %}
  {% for key, actor_type in data %}
  {% if key == 'Internacionales' %}
  <div class="aecid-actor-group-container">
    <h3 class="aecid-actor-group-title">
      {{ key }}
      <ul class="aecid-actor-actions-menu">
        <li><a href="#" style="color: green;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a></li>
        <li><a href="#" style="color: red;"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
      </ul>
    </h3>
    {% if actor_type|length > 0 %}
    {% for atg, actor_type_group in actor_type %}
    <ul class="aecid-actor-subgroup-container">
      <li class="aecid-actor-subgroup">
        <h6 class="aecid-actor-subgroup-title">
          {% if actor_type_group|length > 0 %}<i class="fa fa-play" aria-hidden="true" style="font-size: 0.6em;"></i>{% endif %} {{ atg }}
          <ul class="aecid-actor-actions-menu">
            <li><a href="#" style="color: green;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a></li>
            <li><a href="#" style="color: red;"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
          </ul>
        </h6>
        {% if actor_type_group|length > 0 %}
        <div class="aecid-actor-subgroup-data">
          <table width="100%">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Monto Canalizado (€)</th>
                <th>Nro. Interv.</th>
                <th>Monto Financiado (€)</th>
                <th>Nro. Interv.</th>
                <th>Monto Ejecución Directa (€)</th>
                <th>Nro. Interv.</th>
              </tr>
            </thead>
            <tbody>
              {% for atsg, actor_type_subgroup in actor_type_group %}
              <tr>
                <td><a class="aecid-actor-subgroup-data-name" href="/node/{{ actor_type_subgroup['nid'] }}/edit?destination=/intranet/actor_internacional/listado">{{ actor_type_subgroup['name'] }}</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <ul class="aecid-actor-subgroup-data-alphabetic">
            <li><a href="#">A</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">D</a></li>
            <li><a href="#">E</a></li>
            <li><a href="#">F</a></li>
            <li><a href="#">G</a></li>
            <li><a href="#">H</a></li>
            <li><a href="#">I</a></li>
            <li><a href="#">J</a></li>
            <li><a href="#">K</a></li>
            <li><a href="#">L</a></li>
            <li><a href="#">M</a></li>
            <li><a href="#">N</a></li>
            <li><a href="#">Ñ</a></li>
            <li><a href="#">O</a></li>
            <li><a href="#">P</a></li>
            <li><a href="#">Q</a></li>
            <li><a href="#">R</a></li>
            <li><a href="#">S</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">U</a></li>
            <li><a href="#">V</a></li>
            <li><a href="#">W</a></li>
            <li><a href="#">X</a></li>
            <li><a href="#">Y</a></li>
            <li><a href="#">Z</a></li>
            <li><a href="#">Todos</a></li>
          </ul>
          <div class="aecid-actor-subgroup-data-footer">
            <label class="aecid-actor-subgroup-data-count">Existen actores</label>
            <label class="aecid-actor-subgroup-data-pages">
              Página
              <select>
                <option value="1">1</option>
              </select>
              1
            </label>
          </div>
        </div>
        {% endif %}
      </li>
    </ul>
    {% endfor %}
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
</div>
