<div class="aecid-intranet-lightbox">
  <div class="aecid-intranet-lightbox-container">
    <div class="aecid-intranet-lightbox-content-top">
      <div class="aecid-intranet-lightbox-close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
    </div>
    {% if content %}
    {{ content }}
    {% endif %}
    <div class="aecid-intranet-lightbox-content-bottom">
      <div class="aecid-intranet-lightbox-status"></div>
    </div>
  </div>
</div>
