{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 * Theme: aecid_theme
 * Generated on: Fri, 11 Aug 17 13:07:34 -0500
 */
#}
{{ attach_library('aecid_theme/aecid_theme.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
