<thead>
  <tr>
    <th>Plan Director</th>
    <th>Prioridad Sectorial</th>
    <th>Monto</th>
    <th>Nro. Intervencion</th>
  </tr>
</thead>
<tbody>
  {% if data['items'] %}
  {% for item in data['items'] %}
  <tr>
    <td>{{ item['pdtitle'] }}</td>
    <td>{{ item['name'] }}</td>
    <td>{{ item['monto'] }}</td>
    <td>{{ item['cantinter'] }}</td>
  </tr>
  {% endfor %}
  {% endif %}
</tbody>
